<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title dir="ltr">{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  
  <meta name="author" content="David Radcliffe" />
  <meta content='{{ page.title }}' property='og:title'>
  <meta content='website' property='og:type'>
  {% if page.description %}<meta content='{{ page.description }}' property='og:description'>{% endif %}
  <meta content='http://dwradcliffe.com{% if page.url != "/index.html" %}{{ page.url }}{% else %}/{% endif %}' property='og:url'>

  <link href="http://feeds.feedburner.com/dwradcliffe" rel="alternate" title="David Radcliffe" type="application/atom+xml" />
  
  <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen, projection" />
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" type="text/css" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

</head>
<body>

  <div class="header">
    <div class="container">
      <a class="name" href="/">David Radcliffe</a>
      <div class="nav">
        <a href="/about.html">about</a>
        <a href="/blog.html">posts</a>
      </div>
    </div>
  </div>

  {{ content }}

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2016285-19']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Google Analytics end -->

</body>
</html>
