<!doctype html public>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title dir="ltr">David Radcliffe</title>
  <meta name="viewport" content="width=device-width">
  
  <meta name="author" content="David Radcliffe" />
  <meta content='David Radcliffe' property='og:title'>
  <meta content='website' property='og:type'>
  <meta content='http://dwradcliffe.com' property='og:url'>
  <meta content='Personal website and blog of David Radcliffe - web software engineer.' property='og:description'>

  <link href="http://feeds.feedburner.com/dwradcliffe" rel="alternate" title="David Radcliffe" type="application/atom+xml" />
  
  <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen, projection" />
  
</head>
<body>
  <div class="wrapper">
    <h1>David Radcliffe</h1>
    {{ content }}
  </div>
</body>
</html>